<style type="text/css">
  body { background-color: #F6F6F6; }
  #container { height: 50%; width: 70%; display: table; }
  #inner { vertical-align: middle; display: table-cell; }
  #gauge_div { width: 120px; margin: 0 auto; }
</style>

